@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

a {
  color: #3b82f6;
  text-decoration: underline;
}

.bg-white {
  background-color: white;
  color: black;
}

.text-gray-400 {
  color: #9ca3af;
}

.text-gray-600 {
  color: #4b5563;
}

.text-gray-700 {
  color: #374151;
}

.text-gray-800 {
  color: #1f2937;
}

.text-blue-800 {
  color: #1e40af;
}
